{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",

    "GRAPH_TENANT_ID": "",
    "GRAPH_CLIENT_ID": "",

    "KEY_VAULT_URI": "https://YOUR-KEYVAULT.vault.azure.net/",
    "PRINT_REFRESH_TOKEN_SECRET": "up-print-refresh-token",
    "PRINT_REFRESH_TOKEN": "",

    "SHAREPOINT_HOSTNAME": "YOURTENANT.sharepoint.com",
    "SHAREPOINT_SITE_PATH": "/sites/YOURSITE",

    "PRINT_BATCH_SIZE": "5",
    "PRINT_GIVE_UP_DAYS": "10",
    "PRINT_STALL_MINUTES": "5",
    "PRINT_MAX_RETRIES": "10",
    "PRINT_BUSINESS_TZ": "America/Vancouver",
    "PRINT_BUDGET_SECONDS": "90",
    "GRAPH_TIMEOUT_SECONDS": "30",

    "PRINT_RASTER_DPI": "300",
    "PRINT_RASTER_MAX_BYTES": "33554432",

    "AZURE_CLIENT_ID": ""
  }
}
